<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CALCULADORA AVANÇADA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="result">
    <p>{{ result }}</p>
  </div>
  <div class="m">
    <ion-button disabled>MC</ion-button>
    <ion-button disabled>MR</ion-button>
    <ion-button>M+</ion-button>
    <ion-button>M-</ion-button>
    <ion-button>MS</ion-button>
    <ion-button disabled>M</ion-button>
  </div>

  <div class="operations">
    <ion-button class="operations-buttons">%</ion-button>
    <ion-button class="operations-buttons">CE</ion-button>
    <ion-button class="operations-buttons">C</ion-button>
    <ion-button class="operations-buttons">
      <ion-icon name="backspace"></ion-icon>
    </ion-button>
    <ion-button class="operations-buttons">1/x</ion-button>
    <ion-button class="operations-buttons">x²</ion-button>
    <ion-button class="operations-buttons">√x</ion-button>
    <ion-button class="operations-buttons">÷</ion-button>
    <ion-button class="operations-buttons other-button">7</ion-button>
    <ion-button class="operations-buttons other-button">8</ion-button>
    <ion-button class="operations-buttons other-button">9</ion-button>
    <ion-button class="operations-buttons">x</ion-button>
    <ion-button class="operations-buttons other-button">4</ion-button>
    <ion-button class="operations-buttons other-button">5</ion-button>
    <ion-button class="operations-buttons other-button">6</ion-button>
    <ion-button class="operations-buttons">-</ion-button>
    <ion-button class="operations-buttons other-button">1</ion-button>
    <ion-button class="operations-buttons other-button">2</ion-button>
    <ion-button class="operations-buttons other-button">3</ion-button>
    <ion-button class="operations-buttons">+</ion-button>
    <ion-button class="operations-buttons other-button">±</ion-button>
    <ion-button class="operations-buttons other-button">0</ion-button>
    <ion-button class="operations-buttons other-button">,</ion-button>
    <ion-button class="operations-buttons equals-button">=</ion-button>
  </div>

</ion-content>
