ion-content {
  --background: var(--content_background);
  padding: 0;
  margin: 0;
}

.result {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  height: 20%;
  background-color: var(--buttons_background);

  ion-item {
    --background: none;
    ion-label {
      font-size: 2rem;
    }
  }
}

.m {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 5%;
  ion-button {
    --background: var(--buttons_background);
    --color: var(--font_color);
    --border-radius: 0;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}

.operations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 75%;

  .operations-buttons {
    --background: var(--buttons_background);
    --color: var(--font_color);
    --border-radius: 0;

    --border-color: var(--buttons_border_color);
    --border-style: solid;
    --border-width: 1px;

    padding: 0;
    margin: 0;
    height: auto;

    font-size: 1.5rem;
  }

  .other-button {
    --background: var(--content_background);
  }

  .equals-button {
    --background: var(--equals_background);
  }
}
